body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(238, 225, 163);
}

h1 {
    padding: 1rem;
}

.inputSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#infoInput {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.inputBox {
    width: 50vw;
    margin: 1rem;
    padding: 0.3rem;
}

.dropdownContainer {
    align-self: flex-start;
    padding: 8px;
}

#prioritySelectorLabel {
    font-size: 15px;
    margin: 10px;
    color: #4a4a4a;
}

select {
    font-size: 16px;
    padding: 8px;
    border: 1.5px solid #bdbdbd;
    border-radius: 4px;
    background-color: #fff;
    color: #4a4a4a;
    cursor: pointer;
    width: 65px;
    height: 37px;
}

select option {
    font-size: 16px;
    padding: 8px;
    background-color: #fff;
    color: #0e0404;
}

select:focus {
    border-color: rgb(184, 203, 220);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


button {
    background-color: rgb(95, 150, 95);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10rem;
    margin: 1rem;
    margin-top: 0;
    padding: 0.5rem;
    align-self: flex-end;
}

button:hover {
    background-color: rgb(66, 120, 66);
}

#taskListTitle {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2.5rem;
    background-color: rgb(207, 219, 230);
}

#tasksToDo, #doneTasks {
    background-color: rgb(184, 203, 220);
    padding: 2.5rem;
    margin-bottom: 3rem;
    border-radius: 20px;
}

#taskListTitle {
    margin-top: 5rem;
}

.taskStatusTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.important-icon {
    font-size: 20px;
    margin-left: 5px;
}

.listContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 2rem; 
    margin: 0 auto;
}

#completedTasks, #unCompletedTasks {
    list-style-type: none;
    padding: 0;
    width: 48%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.task-item {
    position: relative;
    background-color: rgb(255, 240, 217);
    padding: 1rem;
    width: 15rem;
    height: 15rem;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-item strong {
    font-size: 20px;
    color: rgb(53, 53, 152);
    margin-bottom: 0.5rem;
}

#unCompleted-placeholder, #completed-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    padding: 1rem;
    width: 15rem;
    height: 15rem;
    border-radius: 20px;
}

.complete-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 0.5rem 1rem;
    width: 6rem;
    background-color: rgb(95, 150, 95);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.complete-btn:hover {
    background-color: rgb(66, 120, 66);
}

.delete-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 0.5rem 1rem;
    width: 6rem;
    background-color: rgb(202, 76, 76);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: rgb(166, 51, 51);
}